{% extends "base.html" %}
{% block title %}Profile | MwanaCare{% endblock %}
{% block content %}
<div class="panel">
    <h1 class="h4 mb-3">Caregiver Profile</h1>
    <form method="post" class="row g-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-md-6">
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save profile</button>
        </div>
    </form>
</div>
{% endblock %}
